.container {
    margin: 2%;
    background-image: url("https://thumbs.dreamstime.com/b/greek-food-background-traditional-different-greek-dishes-set-greek-food-background-traditional-different-greek-dishes-set-top-view-178761927.jpg");
}

body {
    background-color: rgb(240, 231, 221);
}

header {
    border: 1px solid black;
    text-align: center;
}

nav {
    background-image: url("https://media.gettyimages.com/photos/cooking-and-seasoning-ingredients-frame-copy-space-picture-id1256153484?s=612x612");
    border: 1px solid black;
    width: 30%;
    height: auto;
    margin-top: 20px;
    float: left;
}

main {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/004/275/701/small/fast-food-seamless-background-illustration-simple-restaurant-menu-background-vector.jpg");
    background-repeat: round;
    border: 1px solid black;
    width: 69%;
    height: auto;
    margin-top: 20px;
    float: right;
}

table {
    margin-left: 200px;
    text-align: center;
    background-color: rgb(231, 201, 152);
    margin: 3%;
    border: 1px solid black;
    border-radius: 10px;
}

tr,
td,
th {
    width: 100px;
    height: 40px;
}

tr {
    border: 1px solid black;
}

nav ul a {
    font-size: 17px;
    text-decoration: none;
}

.img {
    width: 100px;
    height: 40px;
}